@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tg-bg: #050505;
}

body {
  background-color: var(--tg-bg);
  color: white;
  overflow-x: hidden;
}

/* Кастомный скроллбар */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: #3b82f6; border-radius: 10px; }

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.animate-spin-slow {
  animation: spin 12s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
